*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

:root{
    --lightblue: #678fe7;
}

.wrapper{
    display: flex;
    flex-direction: column;
    user-select: none;
}

body{
    background-color: #323445
}

.homescreen{
    height: 84vh;
}

#visual{
    overflow: hidden;
}

/* Navigation - Start*/
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    padding-right: 2rem;
    padding-top: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
}

.left-nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logo img{
    width: 7rem;
}

/*toggle*/
body.dark {
    background-color: white;
  }

.theme {
    opacity: 0;
    position: absolute;
  }

  .labelTheme {
    width: 70px;
    height: 25px;
    background-color:#323445;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
    box-shadow: 2px 2px 5px #111022;
  }

  .ball {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 47px;
    border-radius: 50%;
    transition: transform 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .theme:checked + .labelTheme .ball{
    transform: translateX(-45px);
  }

  .labelTheme{
    position: relative;
  }

  .daymode{
    position: absolute;
    font-size: 0.4rem;
    color: white;
    right:10px;
    font-weight: bold;
    display: none;
    transition: 5s;
  }

  .nightmode{
    position: absolute;
    font-size: 0.4rem;
    color: white;
    left:3px;
    font-weight: bold;
    
  }

  #sun{
    width: 15px;
    height: 15px;
  }


/* Navigation - End*/

.heading{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
    color: white;

}

/* container - Start*/
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* container - end*/

/* rightContainer - Start*/
.rightContainer{
    width: 40%;
}

.rightContainer img{
    width: 90%;
    filter: drop-shadow(0px 5px 6px #797e8f);
}   
/* rightContainer - End*/

/* leftContainer - Start*/
.leftContainer{
    width: wrap;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passwordLength{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.passwordLength .sliderValue{
    margin-left: 3rem;
}

.passwordSlider{
    display: flex;
    justify-content: center;
}

.passwordSlider input{
    width: 20rem;
    
}

#setPassword{
    text-decoration: none;
    height: 2.5rem;
    width: 23rem;
    margin-right: 1rem;
    border: none;

}

.passwordContainer{
    width: 90%;
    border: 2px solid var(--lightblue);
    display: flex;
    align-items: center;
    border-radius: 50px;
    box-shadow: 3px 3px 5px gray;
    position: relative;

}

.copypopup{
    position: absolute;
    top: -30px;
    right: 20px;
    background-color: #323445;
    font-size: 0.9rem;
    border-radius: 50px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    display: none;
}


.passwordContainer button{
    background-color: transparent;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
}

.passwordContainer button img{
    width: 1.5rem;
    height: 1.5rem;
}

.passwordContainer button img:active{
    transform: translateY(2px);
}

.passwordContainer input{
    padding-left: 1rem;
    border-radius: 50px;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: white;
}

.passwordContainer input:focus{
outline: none;
}

.parameterContainer{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
}

.checkbox{
    width: 1.5rem;
    height: 1.5rem;
}

.uppercaseLetters, .lowercaseLetters{
    display: flex;
    flex-direction: row;
    align-content: baseline;
    gap: 0.8rem;
}

.generatorButton{
    margin-top: 3rem;
    padding: 0.5rem;
    width: 16rem;
    border: 2px solid #d4d2e6;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    background-color: #534ecb;
    color: white;
    position: relative;
    box-shadow: 2px 2px 5px gray;
    
}

.generatorButton:active{
    transform: translateY(3px);

}

.generatorButton:hover{
    background-color: #6677eb;
}

/* leftContainer - End*/

.footer{
    min-height: 20vh;
    background-color: #5350cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: white;
}


@media screen and (max-width: 600px) {

    .homescreen{
        height:fit-content;
    }
    .nav{
        padding: 0;
        margin: 0;
        margin-top: 2rem;
        margin-left: 0.5rem;
        margin-right: 2.5rem;
    }

    .heading{
        font-size: 1rem;
    }

    .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    }

    .rightContainer{
    width: 80%;
    display: flex;
    justify-content: center;
    }
    
    .leftContainer{
        width: 90%;
    }

    .passwordSlider{
        margin-bottom: 2rem;
    }

    .uppercaseLetters{
        display: flex;
        flex-direction:column;
    }

    .lowercaseLetters{
        display: flex;
        flex-direction:column;
    }

    .generatorButton{
        margin-bottom: 3rem;
    }

    .footer{
        min-height: 15vh;
    }

    #setPassword{
        width: 16rem;
        margin-right: 2rem;
    }

    
}